html, body {
  height: 100%;
}

body {
  margin: 0;
  background: radial-gradient(circle at top left, #DAD3EE 0%, #C8BFE7 60%, #F4F1FA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  transition: all 0.3s ease;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}


#theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Dark theme styles */
html[data-theme="dark"] body {
  background: radial-gradient(circle at top left, #2C2541 0%, #1A1625 60%, #342B4A 100%);
  color: #b2b7d7; /*font color*/
}

html[data-theme="dark"] #theme-toggle {
  background-color: #342B4A;
  color: #1c0978;
}

html[data-theme="dark"] main {
  background: #3e3d40;
  border: 5px solid #57565b;
}

main {
  width: 90%;
  height: 80%;
  background: #fff;
  border: 5px solid #A39BD8;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(163,155,216,0.2);
}

button {
  background: linear-gradient(90deg, #A39BD8, #C8BFE7);
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 999px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

.hidden {
  display: none;
}

.error {
  background-color: #fdecea;
  color: #b71c1c;
  border: 1.5px solid #f5c6cb;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 1.2em;
}

.error p {
  margin: 0;
}