html, body {
  height: 100%;
}


body {
  margin: 0;
  background: radial-gradient(circle at top left, #DAD3EE 0%, #C8BFE7 60%, #F4F1FA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

h1, h2{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
}

main {
  width: 90%;
  height: 80%;
  background: #fff;
  border: 5px solid #A39BD8 ;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(163,155,216,0.2);
}